{
  "tabWidth": 2,
  "useTabs": false,
  "organizeImportsSkipDestructiveCodeActions": true,
  "importOrder": ["^lib/(.*)$", "^components/(.*)$", "^[./]", "^(.*)css$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
